<p>Contato</p>

<a>
    </br ></br> </br>
    Para saber mais sobre nossa ONG ou pretende fazer algum tipo de doação entre em contato pelos números:
    </br> </br> </br>
    (16)99755-0000 </br>
    Ou </br>
    (16)3252-0000
    </br> </br> </br>
    Se preferir nos envie um e-mail para:
    </br>
    ceg@hotamail.com
</a>

@section css{ 

<style>
    p {
        font-style: italic;
        font-weight: bold;
        font-size: 18px;
        font-family: 'Times New Roman', sans-serif;
        color: black
    }
</style>

}