

<nav class="navbar" style="background-color: #ecf9fb;">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Inicio</li>
        <li class="breadcrumb-item">Galeria</li>
        <li class="breadcrumb-item">Projetos</li>
        <li class="breadcrumb-item">>Cadastro</li>
        <li class="breadcrumb-item active" >Contato</li>
    </ol>
</nav>
<a>
    </br >
    Para saber mais sobre nossa ONG ou pretende fazer algum tipo de doação entre em contato pelos números:
    </br> </br> </br>
    (16)99755-0000 </br>
    Ou </br>
    (16)3252-0000
    </br> </br> </br>
    Se preferir nos envie um e-mail para:
    </br>
    ceg@hotamail.com
</a>

@section css{

    <style>
        li.breadcrumb {
            background-color: #ecf9fb;
        }
        ol.breadcrumb {
            background-color: #ecf9fb;
            
        }

        .breadcrumb-item {
      
        }

        .breadcrumb{
        }     
    
    </style>

}