
<style>
    p {
        font-style: italic;
        font-weight: bold;
        font-size: 18px;
        font-family: Calibri;
        color: black
    }
    li.breadcrumb {
        background-color: #ecf9fb;
    }

    ol.breadcrumb {
        background-color: #ecf9fb;
    }
</style>


<nav class="navbar" style="background-color: #ecf9fb;">
    
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Inicio</li>
            <li class="breadcrumb-item">Galeria</li>
            <li class="breadcrumb-item active" aria-current="page">Projetos</li>
        </ol>
       
</nav>


<div style="display:inline-block;vertical-align:top;">
    <img src="~/imagens/caoegato.png" alt="canil1" width="300" height="200">
</div>
<div style="display:inline-block;">
    <p>
        ATIVAS </br></br>
        São projetos que destinam suprimentos e cuidados para protetores independentes e ONGs parceiras.
    </p>
</div>
</br></br>
<div style="display:inline-block;vertical-align:top;">
    <img src="~/imagens/gatoecao.png" alt="canil1" width="300" height="200">
</div>
<div style="display:inline-block;">
    <p>
        PREVENTIVAS</br></br>
        São cuidados médicos e de conscientização da população para uma vida animal digna e com respeito.
    </p>
</div>

