@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Projeto C & G</h1>
    
</div>

<a href="http://google.com.br">

    <img src="~/imagens/gatos2.png" width="500" height="500" />

</a>
<br />


<img src="~/imagens/gato.jpg" />


<div class="holder">

    <div class="imagem" data-title="legenda # 1">
        <img src="~/imagens/gato.jpg" alt="" width="120" height="120">
    </div>

    <div class="imagem" data-title="legenda # 2">
        <img src="~/imagens/gato.jpg" alt="" width="120" height="120">
    </div>

</div>


@section css {
    <style>

        .holder {
            display: flex;
            justify-content: center;
        }

        .imagem {
            width: 200px;
            margin: 10px;
            position: relative;
            text-align: center;
        }

            .imagem::after {
                content: attr(data-title); /* estilo que coloco a legenda no lugar */
                position: absolute;
                width: 100%;
                bottom: -20px;
                left: 0;
            }

    </style>

}