@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Projeto C & G</h1>

</div>

<a href="https://localhost:44384/Home/Privacy">



@section css {
    <style>

        .holder {
            display: flex;
            justify-content: center;
        }

        .imagem {
            width: 200px;
            margin: 10px;
            position: relative;
            text-align: center;
        }

            .imagem::after {
                content: attr(data-title); /* estilo que coloco a legenda no lugar */
                position: absolute;
                width: 100%;
                bottom: -20px;
                left: 0;
            }
    </style>

}

