<p>Galeria</p>
<br />
@section css{
    <style>

     
      
    </style>
}

<div class="row">
    <div class="col-md-3 col-sm-12">
        <a target="_blank" href="~/imagens/gato2.png">
            <img src="~/imagens/gato2.png" alt="gato2" width="225" height="150">
            <p>Sif, 5 anos.</p>
        </a>

    </div>
    <div class="col-md-3 col-sm-12">
        <a target="_blank" href="~/imagens/gato3.jpg">
            <img src="~/imagens/gato3.jpg" alt="gato3" width="225" height="150">
            <p>Thor, 4 anos.</p>
        </a>

    </div>
    <div class="col-md-3 col-sm-12">
        <a target="_blank" href="~/imagens/gato4.png">
            <img src="~/imagens/gato4.png" alt="gato4" width="225" height="150">
            <p>Gato, 11 anos.</p>
        </a>

    </div>
    <div class="col-md-3 col-sm-12">
        <a target="_blank" href="~/imagens/gato5.png">
            <img src="~/imagens/gato5.png" alt="gato5" width="225" height="150">
            <p>Goku, 8 anos.</p>
        </a>

    </div>
</div>

<div class="row">
    <div class="col-md-3 col-sm-12">
        <a target="_blank" href="~/imagens/gato6.png">
            <img src="~/imagens/gato6.png" alt="gato6" width="225" height="150">
            <p>Gato, 11 anos.</p>
        </a>

    </div>
    <div class="col-md-3 col-sm-12">
        <a target="_blank" href="~/imagens/gato7.png">
            <img src="~/imagens/gato7.png" alt="gato7" width="225" height="150">
            <p>Chichi, 4 meses.</p>
        </a>

    </div>
    <div class="col-md-3 col-sm-12">
        <a target="_blank" href="~/imagens/gatoo8.png">
            <img src="~/imagens/gatoo8.png" alt="gato8" width="225" height="150">
            <p>Tranquilo, 2 anos.</p>
        </a>


    </div>
    <div class="col-md-3 col-sm-12">
        <a target="_blank" href="~/imagens/cachorro1.png">
            <img src="~/imagens/cachorro1.png" alt="cachorro1" width="225" height="150">
            <p>Chuck, 8 anos.</p>
        </a>

    </div>
</div>


<div class="row">
    <div class="col-md-3 col-sm-12">
        <a target="_blank" href="~/imagens/cachorro2.png">
            <img src="~/imagens/cachorro2.png" alt="cachorro2" width="225" height="150">
            <p>Chanel, 3 meses.</p>
        </a>
    </div>
    <div class="col-md-3 col-sm-12">
        <a target="_blank" href="~/imagens/cachorro3.png">
            <img src="~/imagens/cachorro3.png" alt="cachorro3" width="225" height="150">
            <p>Gold, 1 ano.</p>
        </a>
    </div>
    <div class="col-md-3 col-sm-12">
        <a target="_blank" href="~/imagens/cachorro4.png">
            <img src="~/imagens/cachorro4.png" alt="cachorro4" width="225" height="150">
            <p>Amarelo, 2 anos.</p>
        </a>
    </div>
    <div class="col-md-3 col-sm-12">
        <a target="_blank" href="~/imagens/cachorro5.png">
            <img src="~/imagens/cachorro5.png" alt="cachorro5" width="225" height="150">
            <p>Caramelo, 3 meses.</p>
        </a>

    </div>
</div>


<div class="row">
    <div class="col-md-3 col-sm-12">
        <a target="_blank" href="~/imagens/cachorro6.png">
            <img src="~/imagens/cachorro6.png" alt="cachorro6" width="225" height="150">
            <p>Magoo, 6 anos.</p>
        </a>
    </div>
    <div class="col-md-3 col-sm-12">
        <a target="_blank" href="~/imagens/cachorro7.png">
            <img src="~/imagens/cachorro7.png" alt="cachorro7" width="225" height="150">
            <p>Laika, 4 anos.</p>
        </a>
    </div>
    <div class="col-md-3 col-sm-12">
        <a target="_blank" href="~/imagens/cachorro8.png">
            <img src="~/imagens/cachorro8.png" alt="cachorro8" width="225" height="150">
            <p>Hulk, 1 ano.</p>
        </a>
    </div>
    <div class="col-md-3 col-sm-12">
        <a target="_blank" href="~/imagens/cachorro5.png">
            <img src="~/imagens/cachorro5.png" alt="cachorro5" width="225" height="150">
            <p>Caramelo, 3 meses.</p>
        </a>

    </div>
</div>




