

<html>
<head>
    <style>

        body {
            background-color: #ebe6e6;
        }

        div.header {
            height: 150px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

       
        div.img {
            margin: 40px;
            border: 1px solid #ccc;
            float: left;
            width: 180px;
            box-sizing: 200px;
        }

        div.img:hover {
            border: 1px solid #777;
        }

        div.img img {
            width: 100%;
            height: 100%;
        }

        div.desc {
            padding: 15px;
            text-align: center;

        
        }
        .img{
            display: grid;
            grid-template-columns: 200px 200px 200px;
            grid-auto-rows: 175px;
            grid-column-gap:10px;
            grid-row-gap: 1em;

        }
    </style>


</head>
<body>

    <div class="img">
        <a target="_blank" href="~/imagens/gato1.png">
            <img src="~/imagens/gato1.png" alt="gato1" width="300" height="200">
            <p>Loki, 1 ano.</p>
        </a>
    </div>

    <div class="img">
        <a target="_blank" href="~/imagens/gato2.png">
            <img src="~/imagens/gato2.png" alt="gato2" width="300" height="200">
            <p>Sif, 5 anos.</p>
        </a>
       
    </div>

    <div class="img">
        <a target="_blank" href="~/imagens/gato3.jpg">
            <img src="~/imagens/gato3.jpg" alt="gato3" width="300" height="200">
            <p>Thor, 4 anos.</p>
        </a>
       
    </div>

    <div class="img">
        <a target="_blank" href="~/imagens/gato4.png">
            <img src="~/imagens/gato4.png" alt="gato4" width="300" height="200">
            <p>Gato, 11 anos.</p>
        </a>
        
    </div>

    <div class="img">
        <a target="_blank" href="~/imagens/gato5.png">
            <img src="~/imagens/gato5.png" alt="gato5" width="300" height="200">
            <p>Goku, 8 anos.</p>
        </a>
        
    </div>

    <div class="img">
        <a target="_blank" href="~/imagens/gato6.png">
            <img src="~/imagens/gato6.png" alt="gato6" width="300" height="200">
            <p>Gato, 11 anos.</p>
        </a>
        
    </div>


    <div class="img">
        <a target="_blank" href="~/imagens/gato7.png">
            <img src="~/imagens/gato7.png" alt="gato7" width="300" height="200">
            <p>Chichi, 4 meses.</p>
        </a>
        
    </div>

    <div class="img">
        <a target="_blank" href="~/imagens/gatoo8.png">
            <img src="~/imagens/gatoo8.png" alt="gato8" width="300" height="200">
            <p>Tranquilo, 2 anos.</p>
        </a>
   
    </div>

    <div class="img">
        <a target="_blank" href="~/imagens/cachorro1.png">
            <img src="~/imagens/cachorro1.png" alt="cachorro1" width="300" height="200">
            <p>Chuck, 8 anos.</p>
        </a>
        
    </div>

    <div class="img">
        <a target="_blank" href="~/imagens/cachorro2.png">
            <img src="~/imagens/cachorro2.png" alt="cachorro2" width="300" height="200">
            <p>Chanel, 3 meses.</p>
        </a>
        
    </div>

    <div class="img">
        <a target="_blank" href="~/imagens/cachorro3.png">
            <img src="~/imagens/cachorro3.png" alt="cachorro3" width="300" height="200">
            <p>Gold, 1 ano.</p>
        </a>
      
    </div>

    <div class="img">
        <a target="_blank" href="~/imagens/cachorro4.png">
            <img src="~/imagens/cachorro4.png" alt="cachorro4" width="300" height="200">
            <p>Amarelo, 2 anos.</p>
        </a>
        
    </div>

    <div class="img">
        <a target="_blank" href="~/imagens/cachorro5.png">
            <img src="~/imagens/cachorro5.png" alt="cachorro5" width="300" height="200">
            <p>Caramelo, 3 meses.</p>
        </a>
       
    </div>

    <div class="img">
        <a target="_blank" href="~/imagens/cachorro6.png">
            <img src="~/imagens/cachorro6.png" alt="cachorro6" width="300" height="200">
            <p>Magoo, 6 anos.</p>
        </a>
        
    </div>

    <div class="img">
        <a target="_blank" href="~/imagens/cachorro7.png">
            <img src="~/imagens/cachorro7.png" alt="cachorro7" width="300" height="200">
            <p>Laika, 4 anos.</p>
        </a>
        
    </div>

    <div class="img">
        <a target="_blank" href="~/imagens/cachorro8.png">
            <img src="~/imagens/cachorro8.png" alt="cachorro8" width="300" height="200">
            <p>Hulk, 1 ano.</p>
        </a>
        
    </div>

</body>
</html>