@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


<div class="holder">

    <div class="imagem" data-title="legenda # 1">
        <img src="~/imagens/gato7.png" alt="" width="250" height="250">
    </div>

    <div class="imagem" data-title="legenda # 2">
        <img src="~/imagens/gato4.png" alt="" width="250" height="250">
    </div>
    <div class="imagem" data-title="legenda # 2">
        <img src="~/imagens/gato5.png" alt="" width="250" height="250">
    </div>

</div>


@section css {
    <style>

        .holder {
            display: flex;
            justify-content: center;
        }

        .imagem {
            width: 200px;
            margin: 10px;
            position: relative;
            text-align: center;
        }

            .imagem::after {
                content: attr(data-title); /* estilo que coloco a legenda no lugar */
                position: absolute;
                width: 100%;
                bottom: -20px;
                left: 0;

            }
       
    </style>

}